
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* use the system font */
    font: caption;
    background-color: white;

    /* ?? */
    margin: 0;
    padding: 0;

    overflow: hidden;
}

/* disable text selection */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
